body{
    background-color: #f5f5f5;
}
a{
    text-decoration: none;
    color: #0f0f0f;
}
h1{
    font-size: 36px;
    font-family: 微軟正黑體;
    line-height: 1.6em;
}
h2{
    color:#0f0f0f;
    line-height: 1.6em;
    font-family: 微軟正黑體;
    font-size: 24px;
    font-weight: bold;
}
h3{
    color:#0f0f0f;
    line-height: 1.6em;
    font-family: 微軟正黑體;
    font-size: 20px;
}
h4{
    color:#0f0f0f;
    line-height: 1.6em;
    font-family: 微軟正黑體;
    font-size: 16px; 
}
p{
    font-family: 微軟正黑體;
}
img{
    vertical-align: middle;
}
.navItem li{
    font-family: Arial, Helvetica, sans-serif;
    border-bottom:1px solid #f5f5f5;
    padding: 30px 0;
}
.wrap{
    width: 100%;
}
.nav{
    width: 90%;
    padding: 20px 0 10px;
    margin: auto;
}
.bgNav{
    position: fixed;
    z-index: 10;
    top: 0;
    background-image: linear-gradient(0deg, #f5f5f5, #fff);
}
.navItem{
    font-size: 24px;
    display: none;
}
.logo img{
    width: 50%;
}
.menu-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 5;
}
.menu-btn::before{
    content: '';
    display: block;
    position: absolute;
    top: 16px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 28px;
    height: 3px;
    background-color: #0f0f0f;
    box-shadow: 0 -8px 0 #0f0f0f;
    transition: .3s;
}
.menu-btn::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 16px;
    right: 0;
    left: 0;
    margin: auto;
    width: 28px;
    height: 3px;
    background-color: #0f0f0f;
    transition: .3s;
}
.menu-btn span{
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
}
#menu-contorl{
    position: fixed;
    top: -10px;
    opacity: 0;
    z-index: 5;
}
#menu-contorl:checked ~ .bgNav .nav .navItem{
    display: block;
    height: 100vh;    
    padding-top: 20px;
}
#menu-contorl:checked ~ .bgNav .nav .menu-btn::before{
    top: 0;
    transform: rotate(45deg);
    box-shadow: none;
}
#menu-contorl:checked ~ .bgNav .nav .menu-btn::after{
    bottom: 0;
    transform: rotate(-45deg);
}
.slogan{
    width: 90%;
    margin: 110px auto 50px;
    text-align: center;
}
.APP-title h2,.kid-title h2,.snack-title h2,
.APP-intro h4,.kid-intro h4,.snack-intro h4{
    color: #fff;
}
.bgAPP{
    background-image: url(../image/bgAPP.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.bgKid{
    background-image: url(../image/bgKid3.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bgSnack{
    background-image: url(../image/bgSnack.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.projectAPP,.projectKid,.projectSnack{
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
}
.APP-title,.goAPP a,.APP-intro,
.kid-title,.goKid a,.kid-intro,
.snack-title,.goSnack a,.snack-intro{
    color:#ffffff;
    line-height: 1.6em;
    font-family: 微軟正黑體;
    text-shadow: 1px 1px 5px #000;
}
.goAPP a,.goKid a,.goSnack a{
    padding: 13px 0;
    border:1px solid #fff;
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    width: 70%;
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
    display: block;
    letter-spacing: 1px;
}
.APP-intro,.kid-intro,.snack-intro{
    margin: 20px 0;
}
.APP-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}
.APP-img :first-child{
    width: 58%;
    min-width: 149px;
}
.kid-img,.snack-img{
    padding: 40px 0 0;
}
.kid-img img,.snack-img img{
    width: 100%;
}
.ftTitle{
    text-align: center;
    padding: 40px 0 20px;
}
.ftCount{
    width: 90%;
    margin: auto;
    max-width: 1200px;
    padding-bottom: 20px;
}
.ftCount p{
    padding-bottom: 2px;
}
.copyRight {
    font-size: 14px;
    text-align: center;
    padding-top: 30px;
    font-family: 微軟正黑體;
}
.bgFooter{
    /* background-image: linear-gradient(180deg, #f5f5f5, #fff); */
    background-color: #0f0f0f;
}
.ftTitle h2{
    font-size: 30px;
    color: #fff;
}
.ftCount a p{
    color: #fff;
    font-size: 24px;
    margin-left: 10px;
    font-family: 微軟正黑體;
}
.ftCount a{
    display: flex;
    align-items: flex-end;
    padding: 10px 0;
}
.ftCount p,.ftCount i{
    color: #fff;
}



/* project */
.pjTitle{
    width: 90%;
    margin: 110px auto 50px;
    text-align: center;
}
.pjTitle h3{
    font-weight: bold;
}
.pjItem{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
}
.itemImg{
    background-image: linear-gradient(45deg, #99c0c5, rgb(71, 204, 68));
    padding: 30px 0;
    text-align: center;
    height: 160px;
}
.itemKid img,.itemSnack img{
    width: 60%;
}
.itemAPP,.itemKid,.itemSnack{
    margin-bottom: 50px;
}
.itemName{
    padding-top: 10px;
}
.itemName h4{
    font-size: 24px;
}
.itemKeyWord p{
    color: #777;
}


.about{
    width: 100%;
    margin: auto;
    background-color: #0f0f0f;
    padding: 60px 0 40px;
}
.aboutMeImg img{
    width: 100%;
}
.aboutMe{
    padding: 20px 0;
    text-align: center;
}
.aboutMeCount{
    margin: auto;
    width: 90%;
    padding-top: 10px;
}
.aboutMeTitle h2{
    padding-top: 20px;
}
.aboutMeTitle h2,.aboutMeCount h4{
    color: #fff;
}
.pro,.future{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 20px 0 60px;
}
.pro{
    padding: 60px 0 40px;
}
.proCount,.futureCount{
    padding-top: 10px;
}
.photoWall{
    padding: 50px 0;
}
.photoWall img{
    width: 100%;
}



/* app */
.appTitle,.kidTitle,.snackTitle{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 180px 0 130px;
}
.appTitle h2{
    color: #fff;
}
.appForeword{
    font-weight: bold;
    padding: 30px 0;
    width: 90%;
    margin: auto;
    text-align: center;
}
.appForeword h2{
    font-size: 20px;
}
.survey,.persona,.mockup,
.interface,.flow,.userStory,
.interactive{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.surveyTitle{
    text-align: center;
    padding-top: 30px;
    width: 90%;
    margin: auto;
}
.surveyTitle h3{
    padding: 10px 0;
}
.surveyReel{
    padding: 20px 0;
    width: 1440px;
    display: flex;
}
.scItem{
    width: 24%;
    margin: 0 10px;
}
.svImg img{
    width: 100%;
}
.svCount{
    padding: 20px 7px;
}
.personaTitle,.mockupTitle,
.interfaceTitle,.userStoryTitle,
.interactiveTitle{
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 20px 0 10px;
}
.personaReel,.userStoryReel{
    padding: 20px 0;
    width: 1050px;
    display: flex;
}
.psItem,.usItem{
    width: 30%;
    margin: 0 20px;
}
.psImg img,.usImg img{
    width: 100%;
}
.goal{
    background-image:url(../image/bgGoal.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 900px;
    height: 250px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}
.goalTitle{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}
.goalCount{
    font-family: 微軟正黑體;
    padding: 40px 0;
    width: 90%;
    margin: auto;
    line-height: 1.6em;
}
.smTitle{
    padding: 20px 0;
    width: 90%;
    margin: auto;
}
.smImg img{
    width: 100%;
}
.mockupTitle{
    padding: 80px 0 10px;
}
.mockupReel{
    padding: 20px 0;
    width: 1500px;
    display: flex;
}
.muItem{
    width: 24%;
    margin: 0 20px;
}
.muImg{
    text-align: center;
}
.muImg img{
    width: 60%;
}
.muCount,.ifCont,.iaCont{
    width: 96%;
    padding: 20px 0;
    margin: auto;
    line-height: 1.6em;
}
.muCount li,.ifCont li,.iaCont li{
    position: relative;
    font-family: 微軟正黑體;
}
.muCount li::before,.ifCont li::before,.iaCont li::before{
    content: '';
    display: block;
    position: absolute;
    top: 11px;
    left: -12px;
    border-radius: 50%;
    width: 3px;
    height: 3px;
    background-color: #0f0f0f;
}
.conclusion{
    background-image: url(../image/bgConclusion.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -600px center;
    padding: 60px 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
}


/* kid */
.kidTitle h2,.snackTitle h2{
    letter-spacing: 3px;
    color: #fff;
    padding-bottom: 40px;
}
.kidImg,.snackImg{
    margin: auto;
    width: 90%;
    padding: 50px 0;
    position: relative;
    height: 140px;
}
.kidImg img,.snackImg img{
    width: 100%;
    position: absolute;
    top: -80px;
}
.kidAnalysis,.snackUser,.snackSitemap{
    padding: 50px 0;
}
.kaTitle,.suTitle,.ssTitle,.flowTitle,.ucTitle{
    text-align: center;
    width: 90%;
    margin: auto;
}
.kaTitle h3,.suTitle h3,.ssTitle h3,.flowTitle h3{
    padding: 20px 0 30px;
}
.kaImg,.suImg,.ssImg{
    width: 100%;
    text-align: center;
}
.kaImg img{
    width: 90%;
}
.kidGoal{
    background-image: url(../image/bgKidGoal.png);
    background-position: -300px -50px;
}
.dpTitle{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 30px 0;
}
.dpCont{
    width: 90%;
    margin: auto;
}
.dpItem{
    padding-bottom: 40px;
}
.dpImg{
    width: 100%;
}
.dpImg img{
    width: 100%;
}
.dpDetail{
    padding: 30px 0;
}
.dpDetail h3{
    font-weight: bold;
}
.interfaceReel{
    padding: 20px 0;
    width: 1040px;
    display: flex;
}
.ifItem{
    width: 35%;
    margin: 0 20px;
}
.ifImg{
    text-align: center;
}
.ifImg img{
    width: 100%;
}
.goKidBtn a,.goSnackBtn a{
    display: block;
    width: 70%;
    margin: 50px auto 80px;
    border: 1px solid #0f0f0f;
    border-radius: 5px;
    padding: 20px 0;
    text-align: center;
    letter-spacing: 1px;
    font-family: 微軟正黑體;
}

/* snack */
.suImg img,.ssImg img{
    width: 100%;
}
.flowTitle{
    padding-top: 40px;
}
.flowReel{
    padding-bottom: 50px;
    width: 700px;
    display: flex;
}
.flowImg{
    width: 50%;
    margin: 0 20px;
}
.flowImg img{
    width: 100%;
}
.ucCont{
    width: 90%;
    margin: auto;
}
.ucDetail{
    padding: 20px 0;
}
.ucImg{
    padding: 10px 0;
}
.ucImg img{
    width: 100%;
}
.useCase{
    padding: 50px 0;
}
.userStoryTitle h2{
    padding-top: 20px;
}
.userStoryTitle h3{
    padding: 20px 0 10px;
}
.interactiveTitle h2{
    padding: 20px 0 10px;
}
.snackGoal{
    background-image: url(../image/bgSnackGoal.png);
    background-position: -41px -184px;
}
.iaReel{
    padding: 20px 0;
    width: 2000px;
    display: flex;
}
.iaItem{
    width: 24%;
    margin: 0 20px;
}
.iaImg img{
    width: 100%;
}
.iaCont ul,.ifCont ul{
    padding-left: 18px;
}
.ia1{
    background-image: url(../image/interactive2.png);
    background-repeat: no-repeat;
    background-size: cover;}

.ia2{
    background-image: url(../image/interactive4.png);
    background-repeat: no-repeat;
    background-size: cover;}

.ia3{
    background-image: url(../image/interactive6.png);
    background-repeat: no-repeat;
    background-size: cover;}

.ia4{
    background-image: url(../image/interactive8.png);
    background-repeat: no-repeat;
    background-size: cover;}

.ia5{
    background-image: url(../image/interactive10.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.ia6{
    background-image: url(../image/interactive12.png);
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (min-width:768px){
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 2.3vw;
    }
    h3{
        font-size: 1.5vw;
    }
    h4{
        font-size: 1.5vw;
    }
    .menu-btn,#menu-contorl{
        display: none;
    } 
    .nav{
        width: 96%;
        display: flex;
        justify-content: space-between;
    }
    .navItem{
        display: flex;
        min-width: 438px;
        width: 40%;
        justify-content: space-between;
        align-items: flex-end;
    }
    .navItem li{
        padding: unset;
    }
    .logo img{
        width: 70%;
    }
    .navItem li:hover{
        border-bottom:1px solid #0f0f0f;
        transition: .5s
    }
    .slogan{
        width: 96%;
        margin: 170px auto 90px;
    }
    .APP-count,.snack-count{
        width: 80%;
        flex: 1;
    }
    .APP-img img{
        margin: auto;
        display: block;
    }
    .projectAPP,.projectKid,.projectSnack{
        width: 70%;
        padding: 120px 0;
        display: flex;
        justify-content: space-between;
    }
    .goAPP a,.goKid a,.goSnack a{
        width: 40%;
        margin-top: 50px;
    }
    .goAPP a:hover,.goKid a:hover,.goSnack a:hover{
        background-color: #0f0f0f;
        border: 1px solid #0f0f0f;
        transition: .3s;
    }
    .APP-img{
        align-items: start;
        padding-top: unset;
        flex: 1;
    }
    .APP-img :first-child{
        width: 42.3%;
    }
    .kid-count{
        flex: 1;
    }
    .kid-img,.snack-img{
        flex: 1;
        text-align: right;
        padding: 8px 0;
    }
    .kid-img img,.snack-img img{
        width: 95%;
    }
    .goKid a{
        width: 40%;
    }
    .snack-img{
        padding: unset;
    }
    .ftTitle{
        padding: 50px 0;
    }
    .ftCount{
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 70px;
    }
    .ftCount a{
        padding: unset;
    }
    .copyRight{
        font-size: 14px;
        text-align: unset;
        padding-top: unset;
    }
    .pjTitle{
        width: 40%;
        margin: 200px auto 110px;
    }
    .pjTitle h3{
        font-size: 20px;
    }
    .pjItem {
        width: 75%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .itemAPP, .itemKid, .itemSnack {
        margin: 0 25px 50px;
        flex: 1;
        transition: 1s;
    }
    .itemImg {
        height: 190px;
    }
    .itemName{
        padding-top: 20px;
    }
    .itemKid img, .itemSnack img {
        width: 70%;
    }
    .itemAPP:hover .itemImg,
    .itemKid:hover .itemImg,
    .itemSnack:hover .itemImg{
        outline: 1px solid #000;
        transition: 1s;
    }
    .about {
        width: 100%;
        margin: 130px auto 50px;
        padding: unset;
        display: flex;
        align-items: center;
    }
    .aboutMeImg{
        width: 180%;
    }
    .pro, .future {
        width: 70%;
    }
    .pro {
        padding: 40px 0 40px;
    }
    .proCount,.futureCount{
        margin: auto;
        width: 100%;
    }
    .wite{
        box-shadow: 3px 3px 10px #aaa;
        width: 70%;
        margin: 0 auto 100px;
        background-color: #fff;
        padding-bottom: 40px;
    }
    .appTitle {
        padding: 270px 0 180px;
    }
    .kidTitle,.snackTitle{
        padding: 270px 0 300px;
    }
    .appTitle h2,.kidTitle h2,.snackTitle h2{
        font-size: 36px;
    }
    .appForeword {
        padding: 120px 0;
        width: 50%; 
    }
    .appForeword h2{
        font-size: 24px;
    }
    .personaTitle h3,.smTitle h3,
    .mockupTitle h3,.userStoryTitle h3{
        font-size: 20px;
    }
    .surveyTitle{
        width: 70%;
        margin: auto;
    }
    .surveyTitle h2{
        font-size: 24px;
    }
    .surveyTitle h3{
        font-size: 20px;
        padding: 20px 0;
    }
    .survey,.persona,.mockup,
    .userStory,.interactive {
        overflow: unset;
        width: 80%;
        margin: auto;
    }
    .surveyReel {
        padding: 50px 0;
        width: unset;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .scItem {
        width: 45%;
        margin: unset;
        padding-bottom: 60px;
    }
    .svCount {
        padding: 30px 0;
    }
    .svCount h4{
        font-size: 16px;
    }
    .personaTitle,.interactiveTitle {
        width: 70%;
        padding: 20px 0 50px;
    }
    .personaReel,.userStoryReel {
        padding: 20px 0;
        width: unset;
        display: flex;
        justify-content: space-between;
    }
    .psItem{
        margin: unset;
        /* min-width: 300px; */
    }
    .goal {
        background-size: cover;
        margin: 120px auto;
        height: unset;
        background-attachment: fixed;
    }
    .goalCount {
        width: 80%;
        padding: 80px 0;
    }
    .goalCount li{
        font-size: 24px;
        padding: 10px 0;
    }
    .goalCount .goalTitle{
        font-size: 36px;
        padding-bottom: 20px;
    }
    .smTitle {
        padding: 50px 0;
        width: 80%;
        text-align: center;
    }
    .smImg{
        width: 80%;
        margin: auto;
    }
    .mockupTitle {
        padding: 160px 0 40px;
    }
    .mockupReel {
        width: unset;
        justify-content: space-between;
    }
    .muItem {
        margin: 0 10px;
    }
    .conclusion {
        background-size: 70%;
        background-position: left top;
        padding: 180px 0;
        width: 100%;
        margin: 80px auto;
        text-align: unset;
    }
    .conclusion h2{
        width: 40%;
        margin: 0 0 0 55%;
    }
    .kidImg,.snackImg{
        height: unset;
        text-align: center;
        padding: unset;
        padding-bottom: 28%;
        width: 100%;
    }
    .kidImg img,.snackImg img{
        width: 50%;
        top: -190px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .kidAnalysis,.snackUser{
        padding: 20px 0;
    }
    .kaTitle,.suTitle,.ssTitle,.flowTitle,.ucTitle {
        width: 80%;
    }
    .kaTitle h2,.suTitle h2,
    .flowTitle h2,.ucTitle h2,
    .ssTitle h2,.dpTitle h2,
    .userStoryTitle h2{
        font-size: 24px;
    }

    .kaTitle h3,.suTitle h3,
    .flowTitle h3,.ssTitle h3 {
        padding: 40px 0 90px;
        font-size: 20px;
        width: 60%;
        margin: auto;
    }
    .kaImg {
        width: 80%;
        margin: auto;
    }
    .kidGoal{
        background-position: top left;
        margin: 120px auto 100px;
    }
    .dpColor,.dpFont{
        display: flex;
        width: 88%;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0 100px;
    }
    .dpColorImg,.dpFontImg{
        flex: 1;
        margin-right: 50px;
    }
    .dpColorDetail,.dpFontDetail{
        flex: 1;
        margin-left: 50px;
    }
    .dpColorDetail h3,.dpFontDetail h3{
        font-size: 20px;
    }
    .dpColorDetail h4,.dpFontDetail h4{
        font-size: 16px;
    }
    .interfaceTitle h3{
        font-size: 20px;
    }
    .interface{
        padding-bottom: 50px;
    }
    .interfaceReel{
        width: 80%;
        justify-content: space-between;
        margin: auto;
    }
    .ifItem {
        width: 30%;
        margin: unset;
    }
    .ifCont{
        padding: 30px 0 20px 18px;  
    }
    .interfaceTitle{
        padding: 50px 0;
    }
    .goKidBtn a,.goSnackBtn a{
        width: 350px;
        margin: 80px auto 120px;
        padding: 24px 0;
        letter-spacing: 2px;
        font-size: 24px;
        transition: .4s;
        background-color: rgba(255,255,255,.5);
    }
    .goKidBtn a:hover,.goSnackBtn a:hover{
        background-color: #0f0f0f;
        color: #fff;
    }
    .snackGoal{
        background-position: top left;
        margin: 120px auto 100px;
    }
    .suTitle h3,.ssTitle h3,
    .flowTitle h3{
        padding: 40px 0 60px;
    }
    .suImg{
        width: 70%;
        margin: auto;
    }
    .snackSitemap {
        padding: 120px 0;
    }
    .flowReel {
        width: 70%;
        margin: auto;
        justify-content: space-between;
    }
    .flowImg {
        margin: unset;
    }
    .fi1{
        width: 40%
    }
    .fi2{
        width: 55%
    }
    .useCase {
        padding: 120px 0;
    }
    .ucCont {
        width: 70%;
    }
    .ucDetail {
        padding: 40px 0;
        width: 70%;
        margin: auto
    }
    .ucDetail h3{
        font-size: 20px;
        text-align: center;
    }
    .userStoryTitle{
        width: 50%;
    }
    .userStoryTitle h3{
        padding: 40px 0 30px;
    }
    .interactiveTitle h2 {
        padding: 20px 0 0;
        font-size: 24px;
    }
    .iaReel {
        width: 90%;
        justify-content: space-between;
        margin: auto;
        flex-wrap: wrap;
    }
    .iaItem {
        width: 28%;
        margin: unset;
        padding-bottom: 80px;
    }
}